body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
  height: 100vh;
}

.welcome {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-titulo {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-bottom: 20px;
}
.welcome-frase {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 10px;
}

.welcome-titulo h1,
.welcome-titulo h2,
.welcome-frase h6 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5.4rem;
  color: #5da70d;
  line-height: 1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #5da70d;
  font-size: 2.1rem;
  line-height: .4;
}

h6{
font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 0.9rem;
  color: #5da70d;
  line-height: 1.5;

}

.welcome-btnIngresar {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btnIngresar {
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  border: 2px solid #5da70d;
  background-color:#5da70d;
  color: #FFFFFF;
  cursor: pointer;
}
